.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background: #999;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 250px;
  flex-direction: column;
  align-items: stretch;
}

.hex {
  height: 50px;
  margin: 2px;
  text-align: center;
}

.rgb {
  display: flex;
  height: 50px;
  margin: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
}

.rgb-text {
  height: 25px;
  margin-top: 10px;
  text-align: center;
}